<div class="mi">
  <div class="streamline b-l b-info m-l-lg m-b padder-v">
	  <div>
		<a class="pull-left thumb-sm avatar m-l-n-md">
		  <img src="images/a9.jpg" class="img-circle" alt="...">
		</a>
		<div class="m-l-lg">
		  <div class="m-b-xs">
			<a href="" class="h4">小鱼儿</a>
			<span class="text-muted m-l-sm pull-right">
			  一周前
			</span>
		  </div>
		  <div class="m-b">
			<div>可以教教我怎么学习编程的相关知识吗？</div>
			<div class="m-t-sm">
			  <a href="" class="text-muted m-xs"><i class="icon-action-redo"></i></a>
			  <a href="" class="text-muted m-xs"><i class="icon-star"></i></a>
			  <a href="" class="text-muted m-xs"><i class="icon-refresh"></i> 13</a>
			</div>
		  </div>
		</div>
	  </div>
	  <div>
		<a class="pull-left thumb-sm avatar m-l-n-md">
		  <img src="images/a9.jpg" class="img-circle" alt="...">
		</a>
		<div class="m-l-lg">
		  <div class="m-b-xs">
			<a href="" class="h4">大张李</a>
			<span class="text-muted m-l-sm pull-right">
			  一周前
			</span>
		  </div>
		  <div class="m-b">
			<div>您好，我想和您交个朋友。</div>
			<div class="m-t-sm">
			  <a href="" class="text-muted m-xs"><i class="icon-action-redo"></i></a>
			  <a href="" class="text-muted m-xs"><i class="icon-star"></i></a>
			  <a href="" class="text-muted m-xs"><i class="icon-refresh"></i> 13</a>
			</div>
		  </div>
		</div>
	  </div>
	</div>
</div>